version: "3.9"

services:
  db:
    image: mariadb:10.11
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: python_db
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_password
    
    ports:
      - "3306:3306"
    
    volumes:
      - ./data/mariadb:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql